# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDE
.idea/
.vscode/
.VSCodeCounter/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini

# Config
.env
*.log
tmp/
temp/

# Go specific
/vendor/

# mine
config.test.yaml
config.yaml
data.db
/local
/etc
/test

